body
{
    background-color: #181b1d;
    color: #fff;
}

.boton__responsive
{
    background-color: #fff;
    font-size: 1em;
}

.boton_collapse_responsive
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width:991px)
{
    .modify
    {
        position: relative;
        left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 5px;
        
    }
}



